<div class="row">
    <div class="col-lg-6">

        <a type="button" href="../Usuario/Login"  class="btn btn-block btn-primary">Entrar no Sistema</a>

    </div>
    <div class="col-lg-6">
        <a type="button" href="../Usuario/Registrar" class="btn btn-block btn-success"> Registrar sua conta </a>
    </div>
</div>
